<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StylishMapper">

    <insert id="insertBrand" parameterType="musinsa.model.Brand" useGeneratedKeys="true" keyProperty="id">
        INSERT
          INTO brand
               (name)
        VALUES (#{name})
    </insert>

    <insert id="insertBrandCategories" parameterType="java.util.List">
        INSERT
          INTO brand_category
               (brand_id, category, price)
        VALUES
        <foreach collection="list" item="item" separator=",">
              (#{item.brandId}, #{item.category}, #{item.price})
        </foreach>
    </insert>

    <insert id="insertBrandCategory" parameterType="map">
        INSERT
          INTO brand_category
               (brand_id, category, price)
        VALUES
               (#{brandId}, #{category}, #{price})
    </insert>

    <select id="getResultByCategory" parameterType="string" resultType="map">
        SELECT b.name   AS brand
             , bc.price AS price
          FROM brand b
          JOIN brand_category bc ON b.id = bc.brand_id
         WHERE bc.category = #{category}
         ORDER BY bc.price
    </select>

    <select id="findBrandByName" parameterType="string" resultType="Integer">
        SELECT count(1)
          FROM brand
         WHERE name = #{name}
    </select>

    <select id="getAllBrands" resultType="musinsa.model.Brand">
        SELECT id,
               name
          FROM brand
    </select>

    <select id="getAllInfo" resultType="map">
        SELECT b.id        AS brand_id
             , b.name      AS brand_name
             , bc.category AS category
             , bc.price    AS price
        FROM brand b
        JOIN brand_category bc ON b.id = bc.brand_id
        ORDER BY b.id
    </select>

    <delete id="deleteBrandById" parameterType="java.util.List">
        DELETE
          FROM brand
         WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
               #{item.id}
        </foreach>
    </delete>

    <delete id="deleteBrandCategories" parameterType="java.util.List">
        DELETE
          FROM brand_category
         WHERE brand_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
               #{item.id}
        </foreach>
    </delete>

    <delete id="deleteAll">
        DELETE FROM brand_category;
        DELETE FROM brand;
    </delete>
</mapper>